h1, h2, p {
    text-align: center;
    color: white;
}

h1 {
    margin-top: 0;
}

h2 {
    margin: 0 50px;
}

.buttons-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    
}

.next-card, .previous-card {
    display: inline-block;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    color: blue;
    font-weight: 700;
}

.next-card:hover, .previous-card:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

.previous-card:disabled {
    background-color: rgb(173, 164, 164);
    cursor: not-allowed;
    pointer-events: none;

}

.App {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 50px;
    min-height: 100vh;
    padding-bottom: 50px;
}